.beautiful img {
  height: 400px;
  width: 400px;
  padding-top: 70px;
}
.beautiful {
  display: flex;
}
.sanam {
  display: flex;
  padding-top: 30px;
}
.web {
  margin-top: 80px;
  margin-left: 100px;
}
.ram {
  margin-left: 250px;
}
.about {
  max-width: 500px;
}
.i {
  color: aquamarine;
  font-size: 20px;
}
.n {
  padding-top: 20px;
}
.d {
  margin-top: 20px;
  background-color: aquamarine;
  padding: 8px 25px;
  border-radius: 20px;
  border: none;
}

.dolor {
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #161616;
  border: 2px solid transparent;
  padding: 20px;
  transition: border 0.5s;
}

.dolor p {
  color: var(--secondaryColor);
  max-width: 300px;
}

.lorem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dolor:hover {
  border-bottom: 2px solid #009e66;
}

.testimonials {
  display: flex;
}

.testimonial-item {
  background-color: #161616;
  padding: 40px;
  margin-right: 30px;
  flex: 1;
}

.writer-info {
  display: flex;
  align-items: center;
}

.writer-info div {
  margin-left: 20px;
}

.writer-info div h4 {
  margin: 0;
  margin-bottom: 5px;
}

.writer-info img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.writer-info div span {
  color: gray;
}

.testimonial-item p {
  color: #999;
  font-size: 14px;
  line-height: 1.8;
}

.plans {
  display: flex;
  justify-content: space-between;
}

.plan {
  flex: 1;
  background-color: #161616;
  padding: 30px 10px;
  margin-right: 50px;
  text-align: center;
}

.plan ul {
  list-style: none;
  color: var(--secondaryColor);
  margin: 10px 0;
  padding: 0;
}

.plan h3 {
  margin: 10px 0;
}

.plan i {
  font-size: 30px;
  color: var(--primaryColor);
  margin-bottom: 20px;
}

.plan ul li {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
}

.plan button {
  border: none;
  outline: none;
  background-color: var(--primaryColor);
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
}
.dolor i {
  font-size: 50px;
  color: var(--primaryColor);
  margin-top: 20px;
}

.navbar-toggle {
  display: none;
  margin-right: 20px;
  border: 1px solid #ccc;
  color: #aaa;
  width: 40px;
  height: 40px;
}
@media (max-width: 375px) {
}
